.container_card{
   width: fit-content;
   background-color: #182118c7;
   color: rgb(227, 233, 228);
   border-radius: 15px;

}

 span {
    color: yellowgreen;
    font-size: 1.2em;
 }

 .container_card h5 span {
   color:yellowgreen;
   padding: 0 .2em;
   background-color: #0d0c0c;
   border-radius: 15px;
  

}

.about {
   display: flex;

}

.about img {
   width: 200px;
   border-radius: 12px;
   margin-left: .5em;
}