.navbar {
    background-color: rgb(253, 253, 253);
    width:100%;
    display: flex;
    /*box-shadow: rgba(0,0,0, .15) 0px -2px 10px 0px;*/
    justify-content: space-between; /*logo e items separados*/
    padding: .5em 2em;
    /*position: fixed; /*Navbar fixo*/
}

.navbar img {
    width: 70px;
}

/*---COR DO NAVBAR E LINKS--*/
a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color:green;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
}

a:hover {
    color: chartreuse;
  }
/*----END----*/



.brand {
    font-size: 1.2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list {
    margin-right: 1em;
    margin-top: 2em;
}


.links_list li a {
    padding: .4em .6em; /*tamanho da caixa ativa*/
}


/*---Mobile---*/